.header {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        img {
            width: retr(60);
            border: 1px solid $blue;
            border-radius: retr(10);
        }
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a:hover,
        a:focus {
            border-bottom: none;
        }
    }
    &__icon {
        display: flex;
        flex-direction: column;
        margin-left: retr(48);
        justify-content: space-between;
        @include media-query(mobile){
            margin-left: retr(24);
        }
        img {
            width: retr(40);
        }

        span {
            display: block;
            font-size: retr(12);
            color: $blue;
            line-height: 2;
            text-align: right;
        }
    }
}
