.header {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        img{
            width: retr(60);
            border: 1px solid $yellow;
        }
    }
    &__contact {
        cursor: pointer;
        font-size: retr(22);
        padding: retr(16);
        background-image: url("../assets/phone-icon.png");
        background-size: retr(56);
        background-repeat: no-repeat;
        background-position: center;
        padding: retr(20);
        &:hover,
        &:focus {
            border-bottom: none;
        }
        span {
            display: inline-block;
            font-size: retr(16);
            color: $white;
            position: relative;
            bottom:retr(4);
            left: retr(2);
        }
    }
}
