.typewriter-text {
    color: #32cd32;
    font-family: "Courier";
    font-size: 1.5rem;
    span {
        animation: blink 1s infinite;
    }
}

@keyframes blink {
    to {
        opacity: 0;
    }
}
