.typewriter-text {
    color: #32cd32;
    font-size: retr(20);
    span {
        animation: blink 1s infinite;
    }
    br{
        display: block;
        content: '';
        margin: retr(12) 0;
    }
}

@keyframes blink {
    to {
        opacity: 0;
    }
}
