html {
  font-family: 'Roboto Mono', monospace;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}
/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
ul {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul li {
  line-height: 1.5rem;
}

/* Headings */
h1,
h2 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
  color: #009998;
}
h1 {
  font-size: 4rem;
  line-height: 4.5rem;
  margin-top: 3rem;
}
h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem;
}
/* Tables */
/* Code blocks */
/* Leading paragraph text */
.lead {
  font-size: 1.5rem;
  line-height: 1.3;
}
/* Hug the block above you */
main {
  width: 600px;
  margin: 0 auto;
}

a {
  color: #222;
}
a:hover,
a:focus {
  color: #00baff;
}

@media only screen and (max-width: 812px) {
  body {
    margin: 16px;
  }

  main {
    width: 100%;
  }
}