/* styles.css */
$color_1: #0070f3;
$color_2: inherit;
$color_3: var(--color-text);
$color_4: #55acee;
$color_5: #aaa;
$color_6: #ea4c89;
$color_7: #f8f8f2;
$color_8: #75715e;
$color_9: #fd971f;
$color_10: #f4bf75;
$color_11: #66d9ef;
$color_12: #a1efe4;
$color_13: #ae81ff;
$color_14: #a6e22e;
$color_15: #f92672;
$background-color_1: #00f;
$border-color_1: #0070f3;

:root {
  --spacing-unit: 8px;
  --xs: calc(var(--spacing-unit) / 2);
  --sm: var(--spacing-unit);
  --md: calc(var(--spacing-unit) * 2);
  --lg: calc(var(--spacing-unit) * 3);
  --xl: calc(var(--spacing-unit) * 4);
}
[data-theme="dark"] {
  --color-canvas: #14182c;
  --color-well: #242b4f;
  --color-text: #fff;
}
[data-theme="light"] {
  --color-canvas: #fff;
  --color-well: #e6e6e6;
  --color-text: #161e40;
}

[data-theme="dark"] .header #theme-toggle #theme-toggle-light {
  display: none;
}
[data-theme="light"] .header #theme-toggle #theme-toggle-dark {
  display: none;
}

.header #theme-toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--color-well);
  padding: var(--xs);
  border: 1px solid transparent;
  border-radius: 4px;
  color: inherit;
  width: calc(var(--lg) * 1.5);
  height: calc(var(--lg) * 1.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: var(--sm);
  cursor: pointer;
}
